<div id="<%= dom_id account %>">
 <p>
    <strong>Dono da conta:</strong>
    <%= account.user.name %>
  </p>

  <p>
    <strong>Número da conta:</strong>
    <%= account.account_number %>
  </p>

  <p>
    <strong>Saldo:</strong>
    <%= account.balance %>
  </p>

</div>
