<p style="color: green"><%= notice %></p>

<h1 class="text-center">Conta</h1>

<div id="accounts" class="d-flex">
  <% @accounts.each do |account| %>
    <%= render account %>
      <%= link_to "Ver conta", account,  class: "btn btn-primary" %>
  <% end %>
    <%= link_to "Nova conta", new_account_path ,  class: "btn btn-primary" %>
  
</div>

